<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.medicineteacher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="痹证一点通"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:theme="@style/AppTheme.concealTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResult"
            android:theme="@style/AppTheme.concealTitle" />
        <activity
            android:name=".PatienceUse"
            android:theme="@style/AppTheme.concealTitle" />
        <activity
            android:name=".ChangJianSearch"
            android:theme="@style/AppTheme.concealTitle" />
        <activity
            android:name=".Bian.BianBing"
            android:theme="@style/AppTheme.concealTitle" />
        <activity android:name=".Bian.BianZheng1"
            android:theme="@style/AppTheme.concealTitle" />
        <activity android:name=".Bian.BianZheng2"
            android:theme="@style/AppTheme.concealTitle" />
    </application>

</manifest>